/* mediaquerys */

@media screen and (max-width:480px) {
    /* form */
.formcar{
    
    width: 250px;
    height: 350px;
   
    }
    input{
        width: 150px;
        display: flex;
        text-align: center;
       
      
      }
}